<% include ../header %>

<script>
    $(document).ready(function () {
        // mark as accepted or rejected
        $(".submission-acceptance").click(function(){
            var item = $(this);
            var td = item.parent();
            var conferenceid = td.data('conferenceid');
            var talkid = td.data('talkid');
            $.ajax({
                type: "POST",
                url: "/conferences/accept/talk", 
                data: { conferenceid: conferenceid, talkid: talkid, accepted: item.hasClass('glyphicon-ok-circle') ? 'true' : 'false' },
                success: function(msg){
                    td.find('.submission-acceptance').removeClass('glyphicon-success');
                    td.find('.submission-acceptance').removeClass('glyphicon-danger');
                    if (item.hasClass('glyphicon-ok-circle')) {
                        item.addClass('glyphicon-success');
                    }
                    if (item.hasClass('glyphicon-remove-circle')) {
                        item.addClass('glyphicon-danger');
                    }
                },
                error: function(){
                    //alert("failure");
                }
            });
        });

        // Filter submission table
        $("#search-submissions").keyup(function(){
            _this = this;
            // Show only matching TR, hide rest of them
            $.each($("#submission-table tbody tr"), function() {
                if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
                   $(this).hide();
                else
                   $(this).show();
            });
        });

    });

var clipboard = new Clipboard('.clipboard_btn');

</script>

<div class="col-sm-12 col-sm-offset-1">
    <h1><span class="glyphicon glyphicon-th"></span> Submissions</h1>
<div class="col-xs-4">
 <input type="text" class="form-control" id="search-submissions" placeholder="Type to filter...">
</div>


<table data-toggle="table" class="table table-striped table-nonfluid sortable-theme-bootstrap" data-sortable id="submission-table">
    <thead>
        <tr>
            <th>Talk</th>
            <th>Conference</th>
            <th data-sorted="true" data-sorted-direction="descending">Submitted on</th>
            <th data-sortable="false">Accepted?</th>
            <th data-sortable="false">Feedback link</th>
        </tr>
    </thead>
    <tbody>
<%
      for (var i = 0; i < submissions.length; i++) {
        var submission = submissions[i];
%>
        <tr>
            <td><a href="/talks/modify/<%=submission.talkid%>"><%=submission.title%></a></td>
            <td><%=submission.conference_name%></td> 
            <td><%=submission.submitted_date%></td> 
            <td data-conferenceid="<%=submission.conferenceid%>" data-talkid="<%=submission.talkid%>">
                <span class="glyphicon glyphicon-ok-circle submission-acceptance <%=(submission.accepted == true) ? 'glyphicon-success' : '' %>"></span>
                <span class="glyphicon glyphicon-remove-circle submission-acceptance <%=(submission.accepted == false) ? 'glyphicon-danger' : '' %>"></span>
            </td>
            <td>
                <% if (submission.accepted == true) { %>
                <input id="submission_<%=submission.conferenceid%>_<%=submission.talkid%>" value="http://<%=req.get('x-forwarded-host')%>/feedback/<%=submission.feedback_slug%>">
                <!-- Trigger -->
                <button class="clipboard_btn" data-clipboard-target="#submission_<%=submission.conferenceid%>_<%=submission.talkid%>">
                    <span class="glyphicon glyphicon-copy" alt="Copy feedback link to clipboard"></span>
                </button>
                <% } %>
            </td>
        </tr>
<%
      }
%>
    </tbody>
</table>

</div>
<% include ../footer %>
